<div class="container-fluid">
    <div class="row">
        <app-navbar></app-navbar>
    </div>
    <div class="row">
        <div class="fixed" id="fixedpic">
            <img src="../../assets/slider/turmric.jpg" class="img-fluid" alt="">
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="tittle">
                <h2>Tea </h2>
            </div>

            <div class="col-md-4">
                <img src="../../assets/product case/tulsi sweet lemon.jpg" class="img-fluid" alt="">
                <span>Tulsi sweet Lemon tea</span><br>
                <span>RS:140</span>
            </div>
            <div class="col-md-4">
                <img src="../../assets/product case/tulsi sweet lemon.jpg" class="img-fluid" alt="">
                <span>Tulsi sweet Lemon tea</span><br>
                <span>RS:140</span>
            </div>
            <div class="col-md-4">
                <img src="../../assets/product case/tulsi sweet lemon.jpg" class="img-fluid" alt="">
                <span>Tulsi sweet Lemon tea</span><br>
                <span>RS:140</span>
            </div>
            <div class="col-md-4">
                <img src="../../assets/product case/tulsi sweet lemon.jpg" class="img-fluid" alt="">
                <span>Tulsi sweet Lemon tea</span><br>
                <span>RS:140</span>
            </div>
            <div class="col-md-4">
                <img src="../../assets/product case/tulsi sweet lemon.jpg" class="img-fluid" alt="">
                <span>Tulsi sweet Lemon tea</span><br>
                <span>RS:140</span>
            </div>
            <div class="col-md-4">
                <img src="../../assets/product case/tulsi sweet lemon.jpg" class="img-fluid" alt="">
                <span>Tulsi sweet Lemon tea</span><br>
                <span>RS:140</span>
            </div>
            <div class="col-md-4">
                <img src="../../assets/product case/tulsi sweet lemon.jpg" class="img-fluid" alt="">
                <span>Tulsi sweet Lemon tea</span><br>
                <span>RS:140</span>
            </div>
            <div class="col-md-4">
                <img src="../../assets/product case/tulsi sweet lemon.jpg" class="img-fluid" alt="">
                <span>Tulsi sweet Lemon tea</span><br>
                <span>RS:140</span>
            </div>
            <div class="col-md-4">
                <img src="../../assets/product case/tulsi sweet lemon.jpg" class="img-fluid" alt="">
                <span>Tulsi sweet Lemon tea</span><br>
                <span>RS:140</span>
            </div>
            <div class="col-md-4">
                <img src="../../assets/product case/tulsi sweet lemon.jpg" class="img-fluid" alt="">
                <span>Tulsi sweet Lemon tea</span><br>
                <span>RS:140</span>
            </div>
        </div>
    </div>

</div>