
ul li{
    list-style-type:none ;
}

ul li {
    
    color:green;
}
ul{
    
    width: 1100px;
}
ul li span{
    padding: 35px;
    color: green;
}
img{
    padding: 10px,10px,10px,10px;
}
.navbar-brand {
    position: static;
    overflow: hidden;
}