<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img src="../../assets/tulsi tea.jpg" class="img-fluid" alt="...">
            <span>Tea and Infusion</span>
        </div>

        <div class="col-md-4">
            <img src="../../assets/herbal supliment.jpg" class="img-fluid" alt="...">
            <span>Herbal Supliment</span>
        </div>

        <div class="col-md-4">
            <img src="../../assets/staple.jpg" class="img-fluid" alt="...">
            <span>Organic Staple</span>
        </div>

        <div class="col-md-4">
            <img src="../../assets/personalcare.jpg" class="img-fluid" alt="...">
            <span>Personal care</span>
        </div>

        <div class="col-md-4">
            <img src="../../assets/detox pro.jpg" class="img-fluid" alt="...">
            <span>Detox Program</span>
        </div>

        <div class="col-md-4">
            <img src="../../assets/gift.jpg" class="img-fluid" alt="...">
            <span>Gifting</span>
        </div>

        
    </div>
</div>