<div class="conatainer mt-sm-2">
    <div class="row justify-content-center">
        <div class="col-md-4 text-left rounded shadow py-2">

            <form [formGroup]="registerform"(ngSubmit)="registeruser(registerform.value)">
                <h2>Reactive Form</h2>

                <div class="col-md-7 py-2">
                    <label for="">Username</label>
                    <input class="form-control" type="text" formControlName="userName"
                        placeholder="Enter your username">
                         
                       
                </div>
                <div class="col-md-7 py-2">
                    <label for="">Email</label>
                    <input id="pass" class="form-control" type="email" formControlName="email"
                        placeholder="Enter your email ID">
                  
                </div>

                <div class="col-md-7">
                    <label for="allCourse">Course</label>
                    <select class="form-control" id="allCourse" formControlName="course">
                        <option disabled>--Select--</option>
                        <option value="Angular">Angular</option>
                        <option value="HTML5">HTML5</option>
                        <option value="Java">Java</option>
                    </select>
                </div>
                

                <div formGroupName="addressDetails">
                    <div class="col-md-7 py-2">
                        <label for="">Parament Address</label>
                        <input class="form-control" type="text" formControlName="paramentAddress"
                            placeholder="Enter your Parament Address">
                    </div>
                    <div class="col-md-7 py-2">
                        <label for="">Pin Code</label>
                        <input id="pass" class="form-control" type="number" formControlName="pinCode"
                            placeholder="Enter your pin code">
                    </div>
                   

                </div>
                <div class="button py-2">
                    <button class="btn btn-success ml-sm-5" >Submit</button>
                </div>

            </form>
        </div>
        <button (click)="showUser()">showUser</button>
        <ul>
            <li *ngFor="let user of users">
                 {{user.email}}
            </li>
        </ul>
    </div>
</div>



  
<!-- <span *ngIf="ReactiveForm.get('username').errors['required']">Please enter valid Username</span> -->